<!DOCTYPE html>
<html lang="pt-br">

<head></head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Perfil</title>
</head>

<body>
  <style>
    body {
      background: url("img/bannerlogin.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 700px;

    }


    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 300px;
      height: 40%;
      text-align: center;
      margin-bottom: 30px;
    }



    .cabecalho {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 24px;
      background-color: transparent;
    }

    .logo1 {
      height: 50px;
    }

    .menu {
      display: flex;
      gap: 32px;
    }

    .nav-link {
      color: white;
      font-family: 'Sarala', sans-serif;
      font-size: 18px;
      height: 45px;
      align-items: center;
    }

    .mask {
      background: linear-gradient(180deg, #060E1A 0%, rgba(5, 12, 22, 0.844189) 22.98%, rgba(0, 0, 0, 0.16) 100%);
    }
  </style>
  <div class="mask">
    <header class="cabecalho">
      <img class="logo1" src="img/logo_2.png">
      <nav class="menu">

        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/">Histórico</a>
        <a class="nav-link" href="/login"><span class="fa fa-sign-in"></span> Login</a>
      </nav>
    </header>

    <div class="container rounded bg-white mt-5">
      <div class="row">
        <div class="col-md-3 border-right bg-primary" style="border-right: 1px solid rgb(194, 192, 192);">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5 bg-primary"><img  style="border: 5px solid white;" class="rounded-circle mt-5 bg-primary"
              width="150px"
              src="img/user.png"><span
              class="font-weight-bold">
              <strong><%= user.nome %></strong>
            </span><span class="text-black-50">
              <%= user.email%>
            </span><span> </span></div>
        </div>
        <div class="col-md-4 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Informações do aluno</h4>
              <button type="submit" class="btn btn-outline-primary" style="--bs-btn-border-radius: .3rem;"><span class="fa fa-edit"></span> Editar</button> 
            </div>
            <div class="row mt-2">
              <div class="col-md-4">
                
                <% let data = user.data_nasc; 
                let dataform = ((data.getDate() )) + "/" + ((data.getMonth() + 1)) + "/" + data.getFullYear();%>

                <p><strong>Nome: </strong><%= user.nome %></p>
                <p><strong>Sobrenome: </strong><%= user.sobrenome %></p>
                <p><strong>Data de Nascimento: </strong><%= dataform %></p>
                
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>

</body>

</html>