<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Treinos</title>
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/postagens.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="/img/logo.png">
</head>

<body>

  <input type="checkbox" id="nav-toggle">
  <div class="sidebar">
    <div class="sidebar-brand">
      <img class="logo" src="/img/logo_2.png"></h2>
    </div>

    <div class="sidebar-menu">
      <ul>

        <li>
          <a href="/aluno/home" class="order"><span class="las la-home"></span>
            <span> Página Inicial</span></a>
        </li>

        <li>
          <a href="/aluno/treino" class="order"><span class="las la-dumbbell"></span>
            <span> Treinos</span></a>
        </li>

        <li>
          <a href="/aluno/postagens"class="active"><span class="las la-list"></span>
            <span> Postagens</span></a>
        </li>

        <li>
          <a href="/aluno/configuracoes" class="order"><span class="las la-tools"></span>
            <span> Configurações</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-content">
    <header>
      <h2>
        <label for="nav-toggle">
          <span class="las la-bars"></span>
        </label>
        Postagens
      </h2>

      <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" placeholder="Procure aqui">
      </div>

      <div class="user-wrapper">
        <img src="/img/user.png" width="30px" height="30px" alt="">
        <div>
          <h4>
            <%= user.nome_aluno %> <br>
              <%= user.sobrenome_aluno%>
          </h4>
          <small>Aluno</small>
        </div>
      </div>
    </header>

    <main>

      <% if(user) {%>
        <div class="title-page">
          <p>CONFIRA AS ÚLTIMAS POSTAGENS</p>
        </div>


            <div class="cards-treinos">
              <% result.forEach(post => { %>
                <div class="card-treino">

                  <div class="header-treino <%= post.id_post%>">
                    <h4>
                      <%= post.titulo_post%>
                    </h4>
                    <h4 style="color:blue">
                      <%= post.tipo_post%>
                    </h4>
                  </div>
                  <div class="card-conteudo" style="gap: 10px; flex-direction: row;">
                    
                    <p><%= post.descricao_post%></p>
                    <p><%= post.data_post%></p>
                    <a href="<%= post.link_post%>"><button style="width: 100px; height: 30px; background: #0839B9; border: none; color: #fff; padding: 5px; border-radius: 5px;">Ir para link</button></a>
                  </div>
                  
                </div>
<%})%>
                        
     </div>
    </main>

  </div>

  <% } else { %>

    <div class="main-content">
      <header>
        <h2>
          <label for="nav-toggle">
            <span class="las la-bars"></span>
          </label>
          Dashboard
        </h2>

        <div class="search-wrapper">
          <span class="las la-search"></span>
          <input type="search" placeholder="Procure aqui">
        </div>

        <div class="user-wrapper">
          <div>
            <a href="/login" class="login" style="color: black;"><span class="fa fa-sign-in"></span> Logar</a>
          </div>
        </div>
      </header>

      <main>

        <div class="card-unloggedin">

          <img src="/img/door.png">
          <h3>Você não está logado!</h3>
          <p>Faça o login primeiro antes de entrar nessa aba novamente.</p>
          <a href="/login"><button class="button-login"><span class="fa fa-sign-in"></span> Fazer login</button></a>
        </div>

      </main>
      <% } %>

    </div>

    <script src="/js/treinos.js"></script>

</body>

</html>